<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BeautyScan.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8430EDAB2AEFD1BF003DD766</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8430EDC12AEFD1C0003DD766</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8430EDCB2AEFD1C0003DD766</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
